---
http_interactions:
- request:
    method: get
    uri: https://api.statuspage.io/v1/pages/p9qz8c9gtcnh/components.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      ! 'Authorization: oauth':
      - adeac0389fd4fb8a1519c2590f36263708e9574c6d5560f7e6808acfe1261ffe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - ! '"e37a6a3526e8810c81f542bc1f183a7a"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2013-07-16T05:39:11Z","name":"Writer Tools","position":1,"status":"degraded_performance","updated_at":"2013-07-18T21:14:38Z","id":"9q0tsgpl4hzv","page_id":"p9qz8c9gtcnh"},{"created_at":"2013-07-16T05:45:39Z","name":"Programming","position":2,"status":"degraded_performance","updated_at":"2013-07-17T00:50:41Z","id":"x09l03q6lkq7","page_id":"p9qz8c9gtcnh"},{"created_at":"2013-07-16T05:39:26Z","name":"Page
        CMS","position":3,"status":"operational","updated_at":"2013-07-16T18:08:18Z","id":"1xjs2dmqh7nq","page_id":"p9qz8c9gtcnh"},{"created_at":"2013-07-16T05:39:45Z","name":"Notifications","position":4,"status":"operational","updated_at":"2013-07-16T05:46:17Z","id":"rlrry9fq60kp","page_id":"p9qz8c9gtcnh"},{"created_at":"2013-07-16T05:46:41Z","name":"Platform","position":5,"status":"degraded_performance","updated_at":"2013-07-19T18:20:34Z","id":"8y0xnrlftfgf","page_id":"p9qz8c9gtcnh"},{"created_at":"2013-07-16T18:49:27Z","name":"User-facing","position":6,"status":"operational","updated_at":"2013-07-16T18:49:27Z","id":"5q1m346drn1d","page_id":"p9qz8c9gtcnh"}]'
  recorded_at: Tue, 23 Jul 2013 00:11:50 GMT
recorded_with: VCR 2.5.0
